---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About">
  <Page title="Quien soy">
    <p>
      Soy científico de datos con conocimientos en estadística y desarrollo de software. 
      Actualmente programo en Python y manejo las siguientes librerías en el ámbito de las ciencias de datos: 
      Pandas, sklearn, PySpark y PyTorch. También he trabajado con librerías para el desarrollo web, como Django, FastAPI y Flask,  
      tengo experiencia con Docker y el despliegue de . Me considero una persona empática, 
      lo que considero una habilidad muy importante al construir las historias de los datos. 
      Me caracterizo por ser honesto y creer en el trabajo en equipo.
    </p>

    <p>
      Mi principal lenguaje de programación es Python, también tengo
      conocimientos en SQL, Scala y JavaScript. Utilizo la metodología 
      CRISP-DM para desarrollar mis proyectos. Las bases de datos las manejo
      en Posgres. He desarrollado diferentes proyectos personales en el 
      cual mi stack siempre ha sido Django. Pytorch y Sckit-learn y 
      he tomado cursos en diferentes . plataformas en línea, para seguir 
      aprendiendo nuevas tecnologias. Les invito a visitar mi perfil en 
      LinkedIn, GitHub y en especial mi espacio en HuggingFace, 
      donde subo algunos de mis proyectos de ciencia de datos. 
      Actualizo este espacio constantemente. 
      En mis tiempos libres me gusta ir a nadar, 
      montar en la moto y ayudar a crecer la comunidad de NLP en español.
    </p>
    <p>
      Trabajo Solenium en el análisis de datos eléctricos, enfocado tanto en el 
      consumo como en la generación de energía. 
      Mi enfoque en la empresa fueron los sistemas de forecasting,
      detección de anomalías y desagregación energética.
      Amplia experiencia en el campo de visión por computadora, 
      incluyendo detección de defectos y análisis de videos.  
      Tambien he montado servicios con Docker y Django
    </p>

    <p>
      <b>Estos han sido alguno de mis logros.</b>
      <ul>
        <li>
          En el año 2020 realicé el curso de  Data Sciences For All (DS4A),
          trabajé en el área de NLP. Realicé análisis de sentimiento,
          reconocimiento de entidades y web scraping, utilizando HugginFace,
          spacy y BeautifulSoup. El objetivo del proyecto era monitorear 
          las redes sociales y evaluar el comportamiento de los clientes 
          con respecto a los productos publicados. 
        </li>
        <li>
          En el año 2022 quedé en el tercer puesto de la hackaton de Bancolombia,
          logré el tercer lugar en la Datatón Bancolombia.
          El proyecto consisitió en crear un sistema de clasificar y 
          recomendar noticas para el equipo comercial.
        </li>
        <li>
          En el año 2023 logré el primer puesto en la hackaton SOMOS NLP.
          El proyecto consistió en crear un dataset y un modelo,
          que ayudará a la población gitana para minimizar una situación de 
          descriminación
        </li>
    </ul>
    </p>
  </Page>
</Base>
